<%- include("header") -%>
<%- include('Navbar') -%>
<form action="/" method="post">
<div class="compose">
<h1>Compose</h1>
<input type="text" placeholder="Title" class="title" name="title"> 
<textarea placeholder="Compose" class="blog" name="article"></textarea>
<button class="btn-lg btn-primary">Publish</button>
</div>
</form>
<%- include("footer") -%>